.content-page{
    background-image: url('../../assets/path_1.png') !important;
    height: 90%;
    width: 100%;
    background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    // position: relative;
    // display: block;

    // img{
    //     position: absolute;
    // }
}