.container-fluid{
    position: relative;
    height: 100%;
    margin: 0 auto;
    max-width: 1400px;
}

.upper-layer{
    display: flex;
    position: relative;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    word-break: break-word;


    .title{
        font-weight: bold;
        color: #fff;
        margin: 0px 0px 16px;
        max-width: 600px;
        font-family: 'Fjalla One', sans-serif;
    }

    .sub-title{
        font-size: 16px;
        letter-spacing: 0px;
        text-transform: none;
        color: rgb(255, 255, 255);
        margin: 0px;
        width: 500px;
        font-family: 'Roboto', sans-serif;
    }
}

h1{
    display: block;
    margin-block-start: 0.67px;
    margin-block-end: 0.67px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.title-2{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
}





.signup {
    word-break: break-word;
    max-width: 100%;
    margin-bottom: 16px;
}

.button{
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: black !important;
    font-size: 22px;
    font-weight: bold;
    min-width: 216px;
    border-radius: 100px;
    margin: 16px 0px 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px 32px;
    height: 62px;
    background-color: white;
    text-decoration: none !important;
    transition: 0.1s ease 0s;
    cursor: pointer;
    outline: none;

    &:hover{
        background-color: #f7b100;
    }
}

.section{
    word-break: break-word;
    max-width: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}









